.box {
    background-color: aquamarine;
    height: 200px;
    width: 200px;
    margin-top: 10px;
}
.box2 {
    background-color: purple;
    height: 200px;
    width: 200px;
    margin-top: 10px;
    color: white;
}

#container {
    width: 100vw;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

#containerBig {
    display: flex;
    flex-direction: column;
}